﻿@model HomeViewModel
<section class="content-header ">
    <h1>
        BlockChain
        <small> <b>Id block: </b>@Model.Contracts.ElementAt(1).IdBlock</small>
        <br />

    </h1>

    <ol class="breadcrumb">
        <li><a href="@Url.Action("", "")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="@Url.Action("BlockChain", "Nodes")">Nodes </a></li>
        <li><a href="@Url.Action("BlockChain", "Nodes")">Blockchain </a></li>
        <li class="active">BlockchainContracts</li>
    </ol>
</section>

<br />

<div class="btn btn-brimary pull-right">
    <div class=" fa fa-file-pdf col-xs-12">
        <a href="#" onclick="HTMLtoPDF()">Download as PDF</a>

    </div>
</div>
<br />
<div id="HTMLtoPDF" style="width:100%; clear:both;">
    <br />
    <table id="id" class="table table-striped table-hover table-responsive">
        <thead>
            <tr style="text-decoration-color:grey">
                <th>Contract Id</th>

                <th> Json</th>
                <th>Signature</th>
                <th> Nym</th>
                <th>Date </th>

            </tr>
        </thead>
        @foreach (var contract in @Model.Contracts)
        {
            <tr>
                <td> <a asp-controller="Home" asp-action="ContractDetails" asp-route-id="@contract.Id">#@contract.Id</a> </td>
                <td> @contract.Json</td>
                <td><small>@contract.Signature</small> </td>
                <td><small>@contract.Nym</small></td>
                <td> @contract.Date </td>

            </tr>

        }
    </table>

</div>
