﻿    @model Block



<section class="content-header">
    <h1>
        Blockchain
        <small>Bloclchain details</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("", "")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="@Url.Action("BlockChaine", "Nodes")">BlockChaine</a></li>
        <li class="active">BlockchainDetails</li>
    </ol>
</section><br />

<div class="btn btn-brimary pull-right">
    <div class="  col-xs-12">
        <div class=" btn btn-default FontSmaller fa fa-download"> <a href="#" onclick="HTMLtoPDF()">   Download as PDF</a></div>

    </div>
</div>
<div id="HTMLtoPDF" class="col-md-pull-6 pln">

    <div id="statstable">
        <!-- Needs Translation --><h3 class="upper mb-25 center-tablet mt-40"><small><small>Block Id: </small>@Model.Id</small> </h3><!-- Needs Translation -->
        <table class="table table-striped">
            <thead></thead>
            <tr>
                <td width="50%">Hash</td>
                <td colspan="2"> @Model.Hash</td>
            </tr>
            <tr>
                <td>Previous Hash</td>
                <td colspan="2">@Model.PreviousHash </td>
            </tr>
            <tr>
                <td>Date</td>
                <td colspan="2">@Model.Date</td>
            </tr>

            <tr>
                <td>NbrContracts</td>
                <td colspan="2">@Model.NbrContracts </td>
            </tr>

            <tr>
                <td>MetaData</td>
                <td colspan="2">@Model.MetaData </td>
            </tr>


        </table>
    </div>

    <br />


    <h3> List of contracts</h3>

    <table id="HTMLtoPDF" style="width:100%; clear:both;" class="table table-striped table-hover table-responsive">
        <thead>
            <tr style="text-decoration-color:grey">
                <th><small>contract Id <i class="pull-right" onclick="sortTable()"><i class="fa fa-sort-numeric-asc"></i></i></small></th>
                <th><small>Version </small></th>

                <th>
                    <small>
                        Date
                    </small>
                </th>
                <th><small>Nym </small></th>
                <th><small>  </small></th>
            </tr>
        </thead>
        <tbody id="myTable">
            @foreach (var contract in @Model.Contracts)
            {
                <tr>

                    <td> <a asp-controller="Home" asp-action="ContractDetails" asp-route-id="@contract.Id" class="FontSmaller">#    @contract.Id</a> </td>
                    <td><i><small> @contract.Version</small></i></td>

                    <td><i><small> @contract.Date</small></i></td>
                    <td><i><small> @contract.Nym </small></i></td>
                    <td> <a asp-controller="Home" asp-action="ContractDetails" asp-route-id="@contract.Id"><i><small>More >></small></i></a> </td>


                </tr>
            }
        </tbody>
    </table>
</div>
