﻿@model HomeViewModel
@using Microsoft.AspNetCore.Authentication;

<section class="content-header ">
    <h1>
        Home <small> All Contracts</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("", "")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Contracts</li>
    </ol>
</section><br />


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">



<div class="btn btn-brimary pull-right">
    <div class="  col-xs-12">
        <div class=" btn btn-default FontSmaller fa fa-download"> <a href="#" onclick="HTMLtoPDF()">   Download as PDF</a></div>
        <div class="btn btn-default FontSmaller fa fa-upload"> <a asp-controller="Home" asp-action="ImportContract">   Upload contracts </a></div>
        <br />   <br />
    </div>
</div>
<div id="HTMLtoPDF">

    <input class="form-control" id="myInput" type="text" placeholder="Search.."><br />

    <table id="id" class="table table-striped table-hover table-responsive">
        <thead>
            <tr style="text-decoration-color:grey">
                <td><small>contract Id <i class="pull-right" onclick="sortTable()"><i class="fa fa-sort-numeric-asc"></i></i></small></td>
                <td><small>BlockId <i></i></small></td>
                <td><small>Version </small></td>

                <td>
                    <small>
                        Date
                    </small>
                </td>
                <th><small> </small></th>
                <th><small>  </small></th>
            </tr>
        </thead>
        <tbody id="myTable">
            @foreach (var contract in @Model.Contracts)
            {
                <tr>

                    <td> <a asp-controller="Home" asp-action="ContractDetails" asp-route-id="@contract.Id" class="FontSmaller"><strong>#@contract.Id</strong></a> </td>
                    <td><a asp-controller="Nodes" asp-action="BlockChainDetails" asp-route-id="@contract.IdBlock" class="FontSmaller"><small>@contract.IdBlock</small></a></td>
                    <td><i><small> @contract.Version</small></i></td>

                    <td><i><small> @contract.Date</small></i></td>
                    <td> <a asp-controller="Home" asp-action="ContractDetails" asp-route-id="@contract.Id"><i><small>More >></small></i></a> </td>

                    <td>
                        @{ if (contract.Signature.Length == 0)
                            {
                                <div class="row">
                                    <div class="col-xs-12">
                                        <button class="btn btn-primary btn-sm pull-right" data-target="#loginModal" data-toggle="modal">Sign  </button>
                                        <div class="modal fade" tabindex="-1" id="loginModal"
                                             data-keyboard="false" data-backdrop="static">
                                            <div class="modal-dialog modal-sm">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">
                                                            &times;
                                                        </button>
                                                        <h4 class="modal-title">Confirm the password to sign: </h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form id="loginModal" method="post" name="loginModal" asp-route-id=password asp-action="ImportKey" asp-controller="Sign">

                                                            <div class="form-group">
                                                                <label>Password</label>
                                                                <input asp-for="Password" class="form-control" placeholder="password" type="password" id="password" name="password" />
                                                            </div>                                                    <input type="submit" class="btn btn-primary" value="Login  " id="idLog">
                                                            <button type="button" class="btn btn-primary " data-dismiss="modal">
                                                                Cancel
                                                            </button>
                                                        </form>
                                                        <div id="res"></div>
                                                    </div>
                                                    <div class="modal-footer">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>}
                            else
                            {
                                <i class="btn btn-success btn-sm pull-right">Signed   </i>

                            }


                        }
                    </td>
                    @*<th> <a asp-controller="Sign" asp-action="Index" asp-route-id="@contract.Id"><small>testSign</small></a></th>*@

                    <td> <a asp-controller="Sign" asp-action="Index" asp-route-id="@contract.Id"><small>testSign</small></a></td>

                </tr>
            }
        </tbody>



        <script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
        </script>
    </table>
</div>


<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../bower_components/datatables.net/js/jquery.dataTables.min.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


