﻿@model HomeViewModel
@using System.IO

<section class="content-header ">
    <h1>
        Contract
        <small> Contract details</small>
        <br />
    </h1>

    <ol class="breadcrumb">
        <li><a href="@Url.Action("", "")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="@Url.Action("Contracts", "Home")">Contracts</a></li>
        <li class="active">Contract details</li>
    </ol>
</section><br />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="btn btn-brimary pull-right">
    <div class=" btn btn-default FontSmaller fa fa-download"> <a href="#" onclick="HTMLtoPDF()">   Download as PDF</a></div>

</div>
<div id="HTMLtoPDF">


    <div>
        <div class="col-md-pull-6 pln">
            <h3 class="upper mb-25 center-tablet mt-40"> <small> <small>Contract Id</small>   @Model.Contract.Id </small> </h3>
            <table class="table table-striped">
                <tr>
                    <td width="50%">Id Block</td>
                    <td colspan="2">@Model.Contract.IdBlock </td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td colspan="2">@Model.Contract.Date </td>
                </tr>
                <tr>
                    <td>Version</td>
                    <td colspan="2">@Model.Contract.Version</td>
                </tr>

                <tr>
                    <td>Nym</td>
                    <td colspan="2">@Model.Contract.Nym</td>
                </tr>

                <tr>
                    <td>Signature   </td>
                    <td> @*<a data-toggle="collapse" data-target="#demo">*@@Model.Contract.Signature</td>
                    @*<div id="demo" class="collapse">@Model.Contract.Signature</div>*@

                </tr>

            </table>
        </div>
    </div>

    <br />

    <div class="col-md-pull-6 pln">
        <div class="col-md-pull-6 pln">
            <table class="table table-striped">
                <tr class="upper mb-25 center-tablet mt-40">
                    <td>
                        <strong>  Body:</strong><br /><br />
                        <small>  @Model.Contract.ContractBody</small>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>

@if (@Model.Contract.Signature.Length == 0)
{
<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-primary btn-sm pull-right" data-target="#loginModal" data-toggle="modal">Sign  </button>
        <div class="modal fade" tabindex="-1" id="loginModal"
             data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            &times;
                        </button>
                        <h4 class="modal-title">Confirm the password to sign: </h4>
                    </div>
                    <div class="modal-body">
                        <form id="loginModal" method="post" name="loginModal" asp-route-id=password asp-action="ImportKey" asp-controller="Sign">
                            <div class="form-group">
                                <label>Password</label>
                                <input asp-for="Password" class="form-control" placeholder="password" type="password" id="password" name="password" />
                            </div>
                            <input type="submit" class="btn btn-primary" value="Login  " id="idLog">
                            <button type="button" class="btn btn-primary " data-dismiss="modal"> Cancel</button>
                        </form>
                        <div id="res"></div>
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>
        <a href="@Url.Action("Contracts", "Home" )"> <i class="glyphicon glyphicon-circle-arrow-left pull"></i> Retour</a>

    </div>

</div>}
else
{
    <i class="btn btn-success btn-sm pull-right">Signed   </i>
    <a href="@Url.Action("Contracts", "Home" )"> <i class="glyphicon glyphicon-circle-arrow-left pull"></i> Retour</a>

}  <br />

<div class="pull-right">
    <br />
</div>
<script src="~/js/jspdf.js"></script>
<script src="~/js/jquery-2.1.3.js"></script>
<script src="~/js/pdfFromHTML.js"></script>
