﻿@model HomeViewModel
@using System.IO

<section class="content-header ">
    <h1>
        Contract
        <small>Import contract</small>
        <br />
    </h1>

    <ol class="breadcrumb">
        <li><a href="@Url.Action("", "")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="@Url.Action("Contracts", "Home")">Contracts</a></li>
        <li class="active">Import contract</li>
    </ol>
</section><br />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="btn btn-brimary pull-right">
    <div class=" fa fa-download col-xs-12">
        <a href="#" onclick="HTMLtoPDF()">Download as PDF</a>

    </div>
</div>
<div id="HTMLtoPDF">
    <div>
        <div class="col-md-pull-6 pln">
            <table class="table table-striped">
               
                <tr>
                    <td>Date</td>
                    <td colspan="2">@Model.Contract.Date </td>
                </tr>
                <tr>
                    <td>Version</td>
                    <td colspan="2">@Model.Contract.Version</td>
                </tr>

                <tr>
                    <td>Nym</td>
                    <td colspan="2">@Model.Contract.Nym</td>
                </tr>

            </table>
        </div>
    </div>

    <br />

    <div class="col-md-pull-6 pln">
        <div class="col-md-pull-6 pln">
            <table class="table table-striped">
                <tr class="upper mb-25 center-tablet mt-40">
                    <td>
                        <strong>  Body:</strong><br /><br />
                        <small>  @Model.Contract.ContractBody</small>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>



<div class="pull-right">
    <br />
</div>
<script src="~/js/jspdf.js"></script>
<script src="~/js/jquery-2.1.3.js"></script>
<script src="~/js/pdfFromHTML.js"></script>
