﻿@model HomeViewModel
<section class="content-header ">
    <h1>
        Node <small> Pending contracts</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action(" ", " ")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="@Url.Action("Status", "Node")"> Node</a></li>
        <li class="active">Pending contracts</li>
    </ol>
</section>

<div class="btn btn-brimary pull-right">

        <div class=" btn btn-default FontSmaller fa fa-download"> <a href="#" onclick="HTMLtoPDF()">   Download as PDF</a></div>

    
</div><div style="width:100%;      clear:both;">
    <br />
    <table id="HTMLtoPDF" style="width:100%; clear:both;" class="table table-striped table-hover table-responsive">
        <thead>
            <tr style="text-decoration-color:grey">
                <dialog>hello</dialog>
                <th><small>contract Id</small></th>
                <th><small>Date</small> </th>
                <th><small> Type</small></th>
                <th><small>Version </small></th>
                <th><small>  </small></th>
            </tr>
        </thead>
        @foreach (var contract in Model.Contracts)
        {
        <tr>
            <th> <a asp-controller="Home" asp-action="ContractDetails" asp-route-id="@contract.Id">#@contract.Id</a> </th>
            <th><i><small> @contract.Date</small></i></th>
            <th><i><small> @contract.Type</small></i></th>
            <th><i><small> @contract.Version</small></i></th>
            <th> <a asp-controller="Home" asp-action="ContractDetails" asp-route-id="@contract.Id"><i><small><small>More >></small></small></i></a> </th>

            <th>
                @{ if (contract.Signature.Length == 0)
            {
                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn btn-primary btn-sm pull-right" data-target="#loginModal" data-toggle="modal">Sign  </button>
                        <div class="modal fade" tabindex="-1" id="loginModal"
                             data-keyboard="false" data-backdrop="static">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">
                                            &times;
                                        </button>
                                        <h4 class="modal-title">Confirm the password to sign: </h4>
                                    </div>
                                    <div class="modal-body">
                                        <form id="loginModal" method="post" name="loginModal" asp-route-id=password asp-action="ImportKey" asp-controller="Sign">

                                            <div class="form-group">
                                                <label>Password</label>
                                                <input asp-for="Password" class="form-control" placeholder="password" type="password" id="password" name="password" />
                                            </div>                                                    <input type="submit" class="btn btn-primary" value="Login  " id="idLog">
                                            <button type="button" class="btn btn-primary " data-dismiss="modal">
                                                Cancel
                                            </button>
                                        </form>
                                        <div id="res"></div>
                                    </div>
                                    <div class="modal-footer">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>}
    else
    {
        <i class="btn btn-success btn-sm pull-right">Signed   </i>

}


                }
            </th>
            @*<th> <a asp-controller="Sign" asp-action="Index" asp-route-id="@contract.Id"><small>testSign</small></a></th>*@
        </tr>
        }
        <thead>
    </table>
</div>


