﻿@model HomeViewModel
<section class="content-header ">
    <h1>
        Queue
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action(" ", " ")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Queue</li>
    </ol>
</section>

<div class="btn btn-brimary pull-right">
    <div class=" fa fa-file-pdf col-xs-12">
        <div class=" btn btn-default FontSmaller fa fa-download"> <a href="#" onclick="HTMLtoPDF()">   Download as PDF</a></div>

    </div>
</div>

<div id="HTMLtoPDF" style="width:100%;      clear:both;">
    <br />

    <table id="HTMLtoPDF" style="width:100%; clear:both;" class="table table-striped table-hover table-responsive">
        <thead>
            <tr style="text-decoration-color:grey">
                <dialog>hello</dialog>
                <th><small>contract Id</small></th>
                <th><small>Date</small> </th>
                <th><small> Type</small></th>
                <th><small>Version </small></th>
                <th><small>  </small></th>
            </tr>
        </thead>
        @foreach (var contract in Model.Contracts)
        {
            <tr>
                <th> <a asp-controller="Home" asp-action="ContractDetails" asp-route-id="@contract.Id">#@contract.Id</a> </th>
                <th><i><small> @contract.Date</small></i></th>
                <th><i><small> @contract.Type</small></i></th>
                <th><i><small> @contract.Version</small></i></th>
                <th> <a asp-controller="Home" asp-action="ContractDetails" asp-route-id="@contract.Id"><i><small><small>More >></small></small></i></a> </th>

            </tr>
        }

    </table>
</div>
<div class=" btn btn-block btn-lg  fa fa-hashtag pull-right">
    <a asp-controller="Sign" asp-action="HashBlock" asp-route-id="@Model.Contracts">Create the new block's hash </a>
</div>
