﻿@model LoginViewModel
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Peak porter</title>
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<!-- Bootstrap 3.3.7 -->
<link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
<!-- Font Awesome -->
<link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="../../bower_components/Ionicons/css/ionicons.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
<!-- iCheck -->
<link rel="stylesheet" href="../../plugins/iCheck/square/blue.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
@*<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">*@
<body class="hold-transition login-page">
    <div class="login-box ">
        <div class="login-logo">
            <b>Peak porter</b>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body  col-md-11    btn-block  ">
            <p class="login-box-msg"><strong>Register   </strong></p>

            <form asp-action="Register" asp-controller="Account" method="post" class="form-horizontal" role="form">

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group has-feedback">
                    <label asp-for="UserName" class="col-md-2 control-label">Login</label>
                    <div class="col-md-10">
                        <input asp-for="UserName" class="form-control sidebar " placeholder="UserName" />
                        <span class="glyphicon glyphicon-user  ser form-control-feedback pull-right"></span>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group has-feedback">
                    <label asp-for="EmailAddress" class="col-md-2 control-label">Email</label>
                    <div class="col-md-10">
                        <input asp-for="EmailAddress" class="form-control" placeholder="Password" />
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group has-feedback">
                    <label asp-for="Password" class="col-md-2 control-label">Password  </label>
                    <div class="col-md-10">
                        <input asp-for="Password" class="form-control" placeholder="Password" />
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-primary btn-block btn-flat " value="Register" /><br />
                        <a href="@Url.Action("Login", "Account")" class="pull-right  fa fa-hand-o-left"> Retour</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
 
</body>
<!-- jQuery 3 -->
<script src="~/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="~/dist/js/adminlte.min.js"></script>

<environment names="developement">
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/dist/js/adminlte.js"></script>
    <script src="~/dist/js/demo.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap/dist/js/npm.js"></script>
    <script src="~/lib/jquery/dist/core.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
</environment>
<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="../../plugins/iCheck/icheck.min.js"></script>

<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


