﻿@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authentication
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <environment names="developement">
        <link rel="stylesheet" href="~/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/css/site.min.css">
        <link rel="stylesheet" href="~/css/site.css">
        <link href="~/dist/css/alt/AdminLTE-bootstrap-social.css" rel="stylesheet" />
        <link href="~/dist/css/alt/AdminLTE-fullcalendar.css" rel="stylesheet" />
        <link href="~/dist/css/alt/AdminLTE-select2.css" rel="stylesheet" />
        <link href="~/dist/css/alt/AdminLTE-without-plugins.css" rel="stylesheet" />
        <link href="~/Content/Site.css" rel="stylesheet" />
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
        <link href="~/dist/css/skins/skin-black-light.css" rel="stylesheet" />
        <link href="~/dist/css/skins/skin-black.css" rel="stylesheet" />
        <link href="~/dist/css/skins/skin-blue-light.css" rel="stylesheet" />
        <link href="~/dist/css/skins/skin-blue.css" rel="stylesheet" />
        <link href="~/dist/css/skins/skin-green-light.css" rel="stylesheet" />
        <link href="~/dist/css/skins/skin-green.css" rel="stylesheet" />
        <link href="~/dist/css/skins/skin-purple-light.css" rel="stylesheet" />
        <link href="~/dist/css/skins/skin-purple.css" rel="stylesheet" />
        <link href="~/dist/css/skins/skin-red-light.css" rel="stylesheet" />
        <link href="~/dist/css/skins/skin-red.css" rel="stylesheet" />
        <link href="~/dist/css/skins/skin-yellow-light.css" rel="stylesheet" />
        <link href="~/dist/css/skins/skin-yellow.css" rel="stylesheet" />
        <link href="~/dist/css/skins/_all-skins.css" rel="stylesheet" />
        <link href="~/dist/css/AdminLTE.css" rel="stylesheet" />
    </environment>
    <title>Peak Portal</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="~/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/dist/css/skins/skin-blue.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <environment names="developement">
    </environment>
</head>
<body class="hold-transition skin-blue sidebar-mini ">
    <div id="div_id" class="wrapper fixed">
        <header class="main-header">
            <a href="http:\\www.peak-cs.com" class="logo">
                <span class="logo-mini"><b class="fa fa-pinterest-p      "></b></span>
                <span class="logo-lg"><b class="fa fa-pinterest-p">eak</b> <b class="fa fa-pinterest-p">ortal</b></span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle fixed" data-toggle="push-menu" role="button">
                </a>
                <div class="btn btn-brimary pull-right">
                    <div class="  col-xs-10">
                    </div>
                </div>
                <a class="pull-left" href="@Url.Action("GenerateKeyPair", "Sign")">
                    <i class="fa fa-key">  Generate keyPair </i>
                </a>
                <a class="pull-left" href="@Url.Action("MinHash", "Sign")">
                    <i class="fa fa-key">  Validate min blocks </i>
                </a>
               
                <a class="pull-left" href="@Url.Action("HashBlock", "Sign")">
                    <i class="fa fa-key">  Calculate new hash </i>
                </a>
                <div class="navbar-custom-menu">
                    <div class="dropdown">
                        <button class="dropbtn  ">
                            <i class="fa fa-user-circle-o"></i>

                            @this.User.FindFirst("Name")?.Value
                        </button>
                        <div class="dropdown-content">
                            <form asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm"
                                  method="post" class="navbar-left">
                                <ul class="nav navbar-nav navbar-left">
                                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out <i class="ion-log-out add-on "></i></a></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
                <div>
                </div>
                <br />
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">Menu</li>
                    <li><a href="@Url.Action("Contracts", "Home")"><i class="fa fa-book li"></i> <span class="align ">Contracts <small class="active"><small>     (All contracts)      </small></small>@*<span class="tag badge badge-pill bg-danger float-right mr-1 mt-1">@Model.Contracts.Count</span>*@</span></a></li>
                    <li class="treeview">
                        <a href="~/../Views/Home/Contracts">
                            <i class="fa fa-link"></i> <span>Node</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("PendingContracts", "Home" )"> <i class="fa fa-newspaper-o"></i>     Pending contracts </a></li>
                            <li><a href="@Url.Action("Status", "Nodes" )"><i class="fa fa-area-chart"></i>     State</a></li>
                        </ul>
                    </li>

                    <li><a href="@Url.Action("Queue", "Home" )"><i class="fa fa-bar-chart-o"></i> <span class="">  Queue <small class="active"><small>     (Signed contracts)</small></small></span></a></li>
                    <li><a href="@Url.Action("AllReceivedBlocks", "Sign" )"><i class="fa fa-cube"></i> <span class="">Received blocks </span></a></li>
                    <li><a href="@Url.Action("Blockchain", "Nodes")"><i class="fa fa-cubes"></i> <span class="">Blockchain</span></a></li>
                </ul>
            </section>
        </aside>
        <div class="content-wrapper ">
            <section class="content-header">
                <ol class="breadcrumb"></ol>
            </section>
            <section class="content container-fluid">
                @RenderBody()
            </section>
        </div>
    </div>
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
        </div>
        <strong>Copyright &copy; 2018 <a href="http:\\www.peak-cs.com">peak-cs</a>.</strong> All rights reserved.
    </footer>
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/dist/js/adminlte.min.js"></script>
    <environment names="developement">
        <script src="~/js/jquery-3.3.1.min.js"></script>
        <script src="~/js/bootstrap.js"></script>
        <script src="~/js/site.js"></script>
        <script src="~/dist/js/adminlte.js"></script>
        <script src="~/dist/js/demo.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/bootstrap/dist/js/npm.js"></script>
        <script src="~/lib/jquery/dist/core.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
    </environment>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        .navbar {
            overflow: hidden;
            background-color: #333;
            font-family: Arial;
        }
            /* Links inside the navbar */
            .navbar a {
                float: right;
                font-size: 16px;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }
        /* The dropdown container */
        .dropdown {
            float: left;
            overflow: hidden;
        }
            /* Dropdown button */
            .dropdown .dropbtn {
                font-size: 16px;
                border: none;
                outline: none;
                color: white;
                padding: 14px 16px;
                background-color: inherit;
                font-family: inherit; /* Important for vertical align on mobile phones */
                margin: 0; /* Important for vertical align on mobile phones */
            }
            /* Add a red background color to navbar links on hover */
            .navbar a:hover, .dropdown:hover .dropbtn {
                background-color: ActiveCaption;
            }
        /* Dropdown content (hidden by default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }
            /* Links inside the dropdown */
            .dropdown-content a {
                float: none;
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
            }
                /* Add a grey background color to dropdown links on hover */
                .dropdown-content a:hover {
                    background-color: #ddd;
                }
        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {
            display: contents;
        }
    </style>
    <!-- these js files are used for making PDF -->
    <script src="~/js/jspdf.js"></script>
    <script src="~/js/jquery-2.1.3.js"></script>
    <script src="~/js/pdfFromHTML.js"></script>


    <script>
        document.getElementById("div_id").style.backgroundImage = 'url("file:///C:\Users\Fatma\Desktop\RapportPFE\PeakLogo")';

    </script>
</body>
</html>
