﻿@model LoginViewModel





<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<environment names="developement">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.min.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link href="~/dist/css/alt/AdminLTE-bootstrap-social.css" rel="stylesheet" />
    <link href="~/dist/css/alt/AdminLTE-fullcalendar.css" rel="stylesheet" />
    <link href="~/dist/css/alt/AdminLTE-select2.css" rel="stylesheet" />
    <link href="~/dist/css/alt/AdminLTE-without-plugins.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/dist/css/skins/skin-black-light.css" rel="stylesheet" />
    <link href="~/dist/css/skins/skin-black.css" rel="stylesheet" />
    <link href="~/dist/css/skins/skin-blue-light.css" rel="stylesheet" />
    <link href="~/dist/css/skins/skin-blue.css" rel="stylesheet" />
    <link href="~/dist/css/skins/skin-green-light.css" rel="stylesheet" />
    <link href="~/dist/css/skins/skin-green.css" rel="stylesheet" />
    <link href="~/dist/css/skins/skin-purple-light.css" rel="stylesheet" />
    <link href="~/dist/css/skins/skin-purple.css" rel="stylesheet" />
    <link href="~/dist/css/skins/skin-red-light.css" rel="stylesheet" />
    <link href="~/dist/css/skins/skin-red.css" rel="stylesheet" />
    <link href="~/dist/css/skins/skin-yellow-light.css" rel="stylesheet" />
    <link href="~/dist/css/skins/skin-yellow.css" rel="stylesheet" />
    <link href="~/dist/css/skins/_all-skins.css" rel="stylesheet" />
    <link href="~/dist/css/AdminLTE.css" rel="stylesheet" />
</environment>


<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">


   @RenderBody()

<script src="~/bower_components/jquery/dist/jquery.min.js"></script>
<script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/dist/js/adminlte.min.js"></script>

<environment names="developement">
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/dist/js/adminlte.js"></script>
    <script src="~/dist/js/demo.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap/dist/js/npm.js"></script>
    <script src="~/lib/jquery/dist/core.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
</environment>
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
