﻿@model HomeViewModel


<section class="content-header ">
    <h1>
        Received blocks  <small> not validated  blocks</small>
    </h1>
    <ol class="breadcrumb ">
        <li><a href="@Url.Action("", "")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="@Url.Action("BlockChain", "Nodes")"> Nodes</a></li>
        <li><a class="active">Received blocks</a></li>
    </ol>
</section>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div id="HTMLtoPDF" style="width:100%; clear:both;">
    <br />  <br />
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <br />
    <div class="btn btn-brimary pull-right">
        <div class=" fa fa-download col-xs-12">
            <a href="#" onclick="HTMLtoPDF()">Download as PDF</a>
        </div>
    </div>
    <table id="id" class="table table-striped table-hover ">
        <thead>
            <tr style="text-decoration-color:grey">
                <td>Id block</td>
                <td>Previous hash</td>
                <td>Hash</td>
                <td>Date</td>
                <td></td>
            </tr>
        </thead>
        <tbody id="myTable">
            @foreach (var bloc in @Model.BlockChain)
            {
                <tr>
                    <td><a asp-controller="Nodes" asp-action="BlockChainDetails" asp-route-id="@bloc.Id" class="FontSmaller"><small>@bloc.Id</small></a></td>
                    <td><small> @bloc.PreviousHash </small></td>
                    <td><small> @bloc.Hash</small></td>
                    <td><small>@bloc.Date</small></td>

                    <th><a asp-controller="Nodes" asp-action="BlockChainContracts" asp-route-id="@bloc.Id" class="FontSmaller"><small> <small>  Contracts >> </small></small></a></th>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>



<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
