﻿@model SignViewModel



<div class="panel panel-success">
    <div class="panel-heading ">Success !  </div>
</div><div>
          <div class="panel-body">





              <div class="well well-sm">Key pub: <br />@Model.KeyU</div>
              <div class="well well-sm">Key pub length: <br />@Model.KeyU.Length</div>
              <div class="well well-sm">Key priv: <br />@Model.KeyR </div>
              <div class="well well-sm">Key priv length: <br />@Model.KeyR.Length</div>
          </div>
</div>



