﻿@model HashViewModel

<div class="panel panel-success">
    <div class="panel-heading ">Success !  </div>
</div><div>
    <div class="panel-body">





        <div class="well well-sm">Hash: <br /> @Model.Block.Hash</div>
        <div class="well well-sm">
            prevHash=: <br />  @Model.Block.PreviousHash
        </div>
    
    </div>
</div>



