﻿@model SignViewModel
@using System.IO

@if (Model.Verified)
{

    <div>
        <label asp-for="Key">Import your ptivate key:   </label>
        <input name="PrivateKey"class="btn btn-file"  type="file" id="PrivateKey" />
    </div>  <br />
    <div>
        <input  type="submit" class="btn btn-primary fa fa-upload" value="Import  ">
    </div>

    @*<form asp-action="Sign" asp-route="" asp-controller="Sign" method="post" enctype="multipart/form-data">

        <div>
            <label asp-for="Key">Import your ptivate key:   </label>
            <input name="PrivateKey" type="file" id="PrivateKey" />
        </div>
        <div>
            <input type="submit" value="Submit" />
        </div>
    </form>*@
}
else
{
    <div></div>
    <div class="btn btn-danger ui-state-error-text col-xs-pull-8">
        <i> <strong>   Invalid password !!</strong></i> <br />
    </div><br /> <br />
    <a class="glyphicon glyphicon-refresh" href="@Url.Action("Contracts", "Home" )">   Retry</a>
}





